@font-face {
  font-family: "SVN-Kashima Brush";
  src: url("@/assets/fonts/SVN-KashimaBrush.woff") format("woff2"),
    url("@/assets/fonts/SVN-KashimaBrush.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-2xl;
}
